## In Class

In [1]:
x = 5
print(x, type(x))

5 <class 'int'>

In [2]:
m = 5 + 8j
print(m, type(m))

(5+8j) <class 'complex'>

In [5]:
boolean1 = True
boolean2 = False

In [6]:
print(boolean1, boolean2)

True False

In [7]:
print(type(boolean1), type(boolean2))

<class 'bool'> <class 'bool'>

## List

In [38]:
mylist = ['abcd', 786, 2.23 , 'john', 70.2]
tinylist = [1,2,3,'4']

In [39]:
mylist

['abcd', 786, 2.23, 'john', 70.2]

In [40]:
mylist[0] = 'defg'
mylist

['defg', 786, 2.23, 'john', 70.2]

In [10]:
print(mylist, type(mylist))

['abcd', 786, 2.23, 'john', 70.2] <class 'list'>

In [11]:
print(len(mylist))

5

In [13]:
mylist[2]

2.23

In [14]:
mylist[2:4]

[2.23, 'john']

In [15]:
mylist[1:5:2]

[786, 'john']

In [16]:
mylist[-2]

'john'

In [20]:
newlist = tinylist + mylist

In [21]:
print(newlist)

[1, 2, 3, '4', 'abcd', 786, 2.23, 'john', 70.2]

In [22]:
print(mylist*3)

['abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2]

#### List Append VS Insert

In [23]:
mylist

['abcd', 786, 2.23, 'john', 70.2]

In [24]:
mylist.append('Mikey') #Add element on the last

In [25]:
mylist

['abcd', 786, 2.23, 'john', 70.2, 'Mikey']

In [26]:
mylist.insert(2, 412) #Add element on the spesific index (location)
mylist

['abcd', 786, 412, 2.23, 'john', 70.2, 'Mikey']

#### List Remove VS Pop

In [27]:
mylist.remove(70.2) #Delete element based on the value
mylist

['abcd', 786, 412, 2.23, 'john', 'Mikey']

In [28]:
mylist.pop(3) #Delete element based on the index
mylist

['abcd', 786, 412, 'john', 'Mikey']

In [29]:
mylist.pop() #Delete element on the last position
mylist

['abcd', 786, 412, 'john']

#### List Iterable

In [30]:
for element in mylist:
    print(element)

abcd
786
412
john

## Tuple

In [31]:
mytuple = ('abcd', 786, 2.23 , 'john', 70.2)
mytuple

('abcd', 786, 2.23, 'john', 70.2)

In [32]:
mytuple[0]

'abcd'

In [34]:
mytuple[1:4]

(786, 2.23, 'john')

In [35]:
mytuple[-1]

70.2

In [36]:
for element in mytuple:
    print(element)

abcd
786
2.23
john
70.2

In [37]:
mytuple[0]

'abcd'

In [41]:
mytuple[0] = 'defg'

TypeError: 'tuple' object does not support item assignment

In [43]:
a = '1000012'
a[0]

'1'

In [46]:
a[0]='2'

TypeError: 'str' object does not support item assignment

## Dictionary

In [48]:
dict1 = {}
dict1

{}

In [56]:

dict1['one'] = "This is one"
dict1[2] = "This is two"

dict1

{'one': 'This is one', 2: 'This is two'}

In [57]:
dict1.keys()

dict_keys(['one', 2])

In [61]:
dict1.values()

dict_values(['This is one', 'This is two'])

In [60]:
dict1['one']

'This is one'

In [70]:
dict2 = {'name':['john'],
         'age': 22,
         'dept': ['finance', 'tech']}

In [71]:
dict2['name']

['john']

In [72]:
dict2['age']

22

In [73]:
dict2['age'] = 32

In [75]:
dict2['age']

32

In [76]:
setA = {1,2,1,3,4,1,2,2,5}
print(setA)

{1, 2, 3, 4, 5}

In [77]:
list2 = [10,20,32,32,14,15,15,26,28,26,31]

In [90]:
list2

[10, 20, 32, 32, 14, 15, 15, 26, 28, 26, 31]

In [86]:
list2_not_duplicate = set(list2)

In [87]:
list2_not_duplicate

{10, 14, 15, 20, 26, 28, 31, 32}

In [88]:
list3 = list(list2_not_duplicate)

In [89]:
list3

[32, 10, 14, 15, 20, 26, 28, 31]

In [91]:
setA = {'a', 2}

## Primitive Type Conversion

In [99]:
angka1 = '100001'
int(angka1)

100001

In [109]:
x = 2.9
print(x, type(x))

2.9 <class 'float'>

In [119]:
#Float to integer
y = int(x)
print(y, type(y))

1231 <class 'int'>

In [121]:
#Integerr to Boolean
x = 0
y = bool(x)
print(y, type(y))

False <class 'bool'>

In [124]:
#String to integer
angka1 = '100001'
y = int(angka1)
print(y, type(y))

100001 <class 'int'>

In [129]:
#String to float
angka1 = '123.2'
y = float(angka1)
print(y, type(y))

123.2 <class 'float'>

In [131]:
#Boolean to String
boolean1 = False
y = str(boolean1) #"False"
print(y, type(y))

False <class 'str'>

## Non-Primitive Type Conversion

##### List to Tuple

In [137]:
list1 = ['satu', 2, 'tiga', 4.4]
print(list1, type(list1))

['satu', 2, 'tiga', 4.4] <class 'list'>

In [138]:
tuple_list1 = tuple(list1)
print(tuple_list1, type(tuple_list1))

('satu', 2, 'tiga', 4.4) <class 'tuple'>

##### List to set

In [139]:
list2 = [10,20,32,32,14,15,15,26,28,26,31]
print(list2, type(list2))

[10, 20, 32, 32, 14, 15, 15, 26, 28, 26, 31] <class 'list'>

In [140]:
set_list2 = set(list2)
print(set_list2, type(set_list2))

{32, 10, 14, 15, 20, 26, 28, 31} <class 'set'>

##### Tuple to list

In [142]:
tuple1 = (1, 'dua', 'tiga', 4, 5)
print(tuple1, type(tuple1))

(1, 'dua', 'tiga', 4, 5) <class 'tuple'>

In [143]:
tuple1[2]=23

TypeError: 'tuple' object does not support item assignment

In [144]:
list_tuple1 = list(tuple1)
print(list_tuple1, type(list_tuple1))

[1, 'dua', 'tiga', 4, 5] <class 'list'>

In [145]:
list_tuple1[2]=23

In [146]:
list_tuple1

[1, 'dua', 23, 4, 5]

##### List to Dictionary

In [148]:
x = [['name', 'johm'], ['age', 22], ['city', 'delhi']]
print(x, type(x))

[['name', 'johm'], ['age', 22], ['city', 'delhi']] <class 'list'>

In [149]:
y = dict(x)
print(y, type(y))

{'name': 'johm', 'age': 22, 'city': 'delhi'} <class 'dict'>

## Module Practice